<!DOCTYPE html>
<html lang="en">
{% extends 'index3.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2><center>EDIT CATEGORY</center></h2>
<form method="post" action="{%  url 'updatedataa' dataid=data.id %}" enctype="multipart/form-data">
    {% csrf_token %}
     <div class="card">
                  <div class="card-body">

                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputUsername1">name:</label>
                        <input type="text" class="form-control" id="exampleInputUsername1" name="name" placeholder="name" value="{{data.name}}">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputUsername1">description:</label>
                        <input type="text" class="form-control" id="exampleInputUsername1" name="desc" placeholder="description" value="{{data.desc}}">
                      </div>
                         <div class="form-group">
                             <img src="{{data.image.url}}" style="height:50px;width:50px;">
                        <label>File upload</label>
                          <span class="input-group-append">
                        <input type="file" name="image" placeholder="upload image" value="{{data.image}}">
                          </span>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">update</button>
                    </form>
                  </div>
  </div>


</form>

</body>
</html>
{% endblock %}