<!DOCTYPE html>
<html lang="en">
{% extends 'index3.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2><center>CATEGORY DETAILS</center></h2>
<div class="table-responsive">
    <table class="table table-bordered verticle-middle table-responsive-sm">
    <thead>
    <tr><th scope="col">name</th>
      <th scope="col">description</th>
      <th scope="col">image</th>
    </tr>
    </thead>
    <tbody>

    {% for d in data %}
    <tr>
        <td>{{d.name}}</td>
        <td>{{d.desc}}</td>

        <td>  <img src="{{ d.image.url }}" width="50px" height="50px"></td>

        <td>
            <form action="{% url 'editpage2' dataid=d.id %}">
                <button type="submit" class="btn btn-primary">edit</button>
            </form>
        </td>
        <td>
            <form action="{% url 'deletedataa' dataid=d.id %}">
                <button  onclick="alert('deleted sucessfully')" type="submit" class="btn btn-primary">delete</button>
            </form>
            </td>
    </tr>
    {% endfor %}


    </tbody>
    </table>
</div>
</body>
</html>
{% endblock %}